*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html{
    font-family: 'Spartan', sans-serif;
    font-size: 62.5%;
}
#main{
    background: url(../images/bg-pattern-bottom-desktop.svg) no-repeat;
    font-size: 1.5rem; 
}
#header{
    background: url(../images/bg-pattern-top-desktop.svg) no-repeat;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 80px 80px 32px;
}
#header .header-content{
    width: 30rem;
}
.header-content .heading h1{
    color: hsl(300, 43%, 22%);
    font-size: 3.2rem; 
}
.header-content .heading-content{
    color: hsl(333, 80%, 67%);
}
.header-items .item{
    background-color: hsl(300, 24%, 96%);
    display: flex;
    flex-wrap: wrap;
    height: 4.6rem;
    padding: 0 2.8rem;
    border-radius: .8rem;
    margin-top: 1.6rem;
}
.header-items .item .items-img{
    transform: translateY(32%);
}
.header-items .item p{
    font-weight: 700;   
    padding: 0 2.8rem;
    transform: translateY(32%);
}
.header-items .item-1{
    margin-right: 8rem;
}
.header-items .item-2{
    margin-left: 4rem;
    margin-right: 4rem;
}
.header-items .item-3{
    margin-left: 8rem;
}
#container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: auto;
    padding: 0 8rem 8rem;
}
#container .card{
    width: 38rem;
    background-color: hsl(300, 43%, 22%);
    color: #fff;
    padding: 3.2rem 2.8rem;
    border-radius: .8rem;
    height: 25rem;
}
#container .card .content{
    display: flex;
    padding-bottom: 2.8rem;
}
.card .content .content__img{
    width: 4rem;
    border-radius: 50%;
}
.card .content .heading-item{
    transform: translateY(12%);
    padding-left: 3.2rem;
}
.content .heading-item .heading-primary{
    font-weight: 700;
}
.content .heading-item .heading-secondary{
    color: hsl(333, 80%, 67%);
}
.card .content-details{
    line-height: 2.5rem;
    font-size: 1.2rem;
}
#container .card-1{
    margin-bottom: 3.2rem;
}
#container .card-2{
    margin-top: 1.6rem;
    margin-bottom: 1.6rem;
}
#container .card-3{
    margin-top: 3.2rem;
}
@media (max-width: 1200px){
    #container .card-2{
        margin: 0;
    }
}
@media (max-width: 375px){
    #header{
        padding-left: 2.8rem;
        padding-right: 2.8rem;
        text-align: center;
    }
    #container{
        padding-left: 2.8rem;
        padding-right: 2.8rem;
    }
    .header-items .item{
        height: auto;
        padding: 10px 0;
        margin-top: 1.6rem;
        line-height: 24px;
        /* align-items: center; */
        justify-content: center;
        
    }
    .header-items .item p{
        /* padding: 0; */
    }
    .header-items .item-1{
        margin-right: 0;
    }
    .header-items .item-2{
        margin-left: 0;
        margin-right: 0;
    }
    .header-items .item-3{
        margin-left: 0;
    }
}

